#root {
  color: white;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: bolder;
}

.resultContainer,
.historyItem {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 5;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 250px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: white;
  color: black;
}

.app-container {
  position: relative;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -1;
  margin-bottom: 30%;
}

main {
  position: relative;
  z-index: 1;
}

a {
  padding-top: 30px;
  font-weight: 500;
  color: red;
  text-decoration: inherit;
}

a:hover {
  color: black;
}

button {
  border-radius: 18px 18px 10px 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em 0.99em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: #fff;
  box-shadow:
    rgba(59, 57, 80, 0.2) 0 2px 2px,
    rgba(0, 0, 0, 0.2) 0 4px 4px,
    rgba(0, 0, 0, 0.2) 0 8px 8px,
    rgba(0, 0, 0, 0.2) 0 16px 16px,
    rgba(0, 0, 0, 0.2) 0 32px 32px,
    rgba(89, 70, 196, 0.2) 0 64px 64px;
}

button:focus,
button:focus-visible {
  background-image: linear-gradient(#fff, #fff, #fff, #fff, #C0C0C0, #9795b1);
  color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}