.mainContainer {
    padding: 20px;
    padding-top: 165px;
    width: 400px;
    margin: none;
  }
  
  .titleContainer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .inputContainer {
    font-size: small;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .inputBox {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inputButton {
    padding: 10px;
    width: 100%;
    border: none;
    /* background-color: #007bff;
    color: white; */
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* .inputButton:hover {
    background-color: #0056b3;
  } */
  
  .errorLabel {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .col-12 {
    background-color: #b7253d;
    margin: 5px; /* Space between cards */
  border: none; /* Remove default border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px #dac2ba; /* Subtle shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effect */
  }

  .col-12:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 16px #807d7c; /* Enhanced shadow on hover */
  }

  p {
    padding-top: 10px;
    font-size:medium;
    font-weight: bold;
    
  }
  