/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    background-color: #824a5a;
    color: white;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #b7253d;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.897);
    padding: 20px;
    margin: 10px 0;
}

/* Dashboard Styles */
.dashboard-wrapper {
    padding: 1px;
    width: 100%;

}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-between;
    /* Distribute space between items */
    gap: 10%;
    padding-left: 3%;
    padding-right: 3%;
    /* Add some padding for better spacing */
}

@media (max-width: 912px) {
    .dashboard-content {
        width: auto;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-between;
        /* Stack sections vertically on smaller screens */
        align-items: center;
        /* Center items */
        padding: 3%;
    }
}

@media (max-width: 768px) {
    .dashboard-content {
        width: auto;
        flex-direction: column;
        /* Stack sections vertically on smaller screens */
        align-items: center;
        /* Center items */
        padding: 10%;
    }

    .center-section,
    .right-section {
        width: 380px;
        flex-basis: 100%;
        /* Take full width on smaller screens */
        max-width: 100%;
        /* Ensure sections don't exceed the container width */
    }
}

/*note for keith and ricardo we can change the styles of the dashboard sections from here*/
/* Left Section */

.center-section,
.right-section {
    flex-basis: 45%;
    /* Use a percentage for flexibility */
    max-width: 25%;
    /* Ensure sections don't exceed their intended width */
    box-sizing: border-box;
    background-color: #b7253d;
    padding: 20px;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 2px 4px #dac2ba;
    /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Smooth transition for hover effect */
}

@media (max-width: 768px) {

    .center-section,
    .right-section {
        flex-basis: 100%;
        /* Full width on smaller screens */
        max-width: 100%;
        padding: 3%;
        /* gap: 160px; */
    }
}

.center-section:hover,
.right-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #807d7c;
}

