/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    background-color: #824a5a;
    color: white;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #b7253d;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.897);
    padding: 20px;
    margin: 10px 0;
}

/* Dashboard Styles */
.dashboard-wrapper {
    padding: 20px;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    gap: 700px;
    /* Space between the columns */
}

/*note for keith and ricardo we can change the styles of the dashboard sections from here*/
/* Left Section */
.right-section {

    flex-basis: 45%;
    /* Takes 25% of the width */
    background-color: #b7253d;
    padding: 20px;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 2px 4px #dac2ba;
    /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s;
}

.right-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #807d7c;
}

/* Center Section */
.center-section {
    background-color: #b7253d;
    flex-basis: 45%;
    /* Takes 45% of the width */

    padding: 20px;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 2px 4px #dac2ba;
    /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Smooth transition for hover effect */
}

.center-section:hover {
    transform: translateY(-5px);
    /* Lift effect on hover */
    box-shadow: 0 8px 16px #807d7c;
    /* Enhanced shadow on hover */
}

/* styling  */
@media (max-width: 1024px) {
    .dashboard-content {
        flex-direction: column;
        /* gap for the elements when the screen move de dashboard content vertical */
        gap: 200px;
    }

    .center-section,
    .right-section {
        flex-basis: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .center-section,
    .right-section {
        flex-basis: 48%;
    }
}

@media (min-width: 1025px) {
    .center-section {
        flex-basis: 45%;
    }

    .right-section {
        flex-basis: 45%;
    }
}