@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");



.nav-tabs {
    height: 100px;
    border-bottom-width: none;
    justify-content:flex-end;
    width: 100vw;
    background: #d00000;
    padding-right: 1%;
    font-size: 25px;
    /* width: 100%; */
    /* max-width: 100%; */
    /* Ensures the image scales with the container */
    height: auto;
    /* Maintains aspect ratio */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

    /* background-color: #1b263b; */
    box-shadow:
        rgba(59, 57, 80, 0.2) 0 2px 2px,
        rgba(0, 0, 0, 0.2) 0 4px 4px,
        rgba(0, 0, 0, 0.2) 0 8px 8px,
        rgba(0, 0, 0, 0.2) 0 16px 16px,
        rgba(0, 0, 0, 0.2) 0 32px 32px,
        rgba(89, 70, 196, 0.2) 0 64px 64px;

}

.KG {
    width: 64%;
    margin-left: x;
    margin-right: 12px;
    padding-top: 47px;
    padding-bottom: 36px;
    margin-bottom: 0px;
    border-bottom-width: 10px;
    padding-left: 213px;
    height: 127px;
    background: #d00000;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .box {
        width: 250px;
        height: 45px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;

        .title {
            position: relative;
            display: flex;
            align-items: center;
            height: 60px;

            .block {
                width: 100%;
                height: 100%;
                background: #e85d04;
                position: absolute;
                animation: mainBlock 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                display: flex;
            }

            h1 {

                font-family: "Lato";
                text-transform: uppercase;
                letter-spacing: 5px;
                color: #fff;
                font-size: 60px;
                -webkit-animation: mainFadeIn 2s forwards;
                -o-animation: mainFadeIn 2s forwards;
                animation: mainFadeIn 2s forwards;
                animation-delay: 1.6s;
                opacity: 0;
                display: flex;
                align-items: baseline;
                position: relative;
                z-index: 1;

                span {
                    left: 637px;
                    right: 82px;
                    width: 1px;
                    /* Set a default width */
                    height: 1px;
                    /* Set a default height */
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    background-image: url(../../public/Football_SVG.svg);
                    background-size: contain;
                    /* Ensure the image covers the span */
                    background-position: center;
                    /* Center the image */
                    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                    animation-delay: 2s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 13px;
                    right: -12px;
                }
            }
        }

        .role {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 30px;
            margin-top: -10px;

            .block {
                width: 0%;
                height: inherit;
                background: #415a77;
                position: absolute;
                animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                animation-delay: 2s;
                display: flex;
            }

            p {
                animation: secFadeIn 2s forwards;
                animation-delay: 3.2s;
                opacity: 0;
                font-weight: 400;
                font-family: "Lato";
                color: #ffffff;
                font-size: 60px;
                text-transform: uppercase;
                letter-spacing: 5px;
                padding-top: 10px;
            }
        }
    }
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 15px;
        height: 5px;
        background: #814506;
        border: 0px solid #722424;
        opacity: 0;
    }

    50% {
        width: 30px;
        height: 20px;
        background: #814506;
        opacity: 1;
        bottom: 45px;
    }

    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }

    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }

    100% {
        width: 130px;
        height: 50px;
        right: auto;
        background-image: url(../../public/Football_SVG.svg);
        background-size: contain;
        /* Ensure the SVG fits within the element */
        background-position: center;
        /* Center the SVG within the element */
        background-repeat: no-repeat;
        /* Prevent the SVG from repeating */
        bottom: 11px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}



@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-02deg);
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

.nav-tabs {
    .nav-tabs {
        padding-right: 1%;
        font-size: 25px;
        width: 100%;
        max-width: 100%;
        /* Ensures the image scales with the container */
        height: auto;
        /* Maintains aspect ratio */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        background: #1b263b;
        background-color: #1b263b;
        box-shadow:
            rgba(59, 57, 80, 0.2) 0 2px 2px,
            rgba(0, 0, 0, 0.2) 0 4px 4px,
            rgba(0, 0, 0, 0.2) 0 8px 8px,
            rgba(0, 0, 0, 0.2) 0 16px 16px,
            rgba(0, 0, 0, 0.2) 0 32px 32px,
            rgba(89, 70, 196, 0.2) 0 64px 64px;
    }
}