@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

.nav-tabs {
    width: 100vw;
    height: auto; /* Maintain aspect ratio */
    background-image:url(../assets/football-texture2.jpg);
    padding: none;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-shadow: rgba(59, 57, 80, 0.2) 0 2px 2px,
                rgba(0, 0, 0, 0.2) 0 4px 4px,
                rgba(0, 0, 0, 0.2) 0 8px 8px,
                rgba(0, 0, 0, 0.2) 0 16px 16px,
                rgba(0, 0, 0, 0.2) 0 32px 32px,
                rgba(89, 70, 196, 0.2) 0 64px 64px;
}

.KG {
    width: 100%;
    background-image:url(../assets/football-texture2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-title {
    font-size: 3vw; /* Use viewport width for responsive font size */
    margin: 0; /* Remove default margin */
    text-align: center;
    color: #fff; /* Ensure the text color is visible */
  }

  @media (max-width: 768px) {
    .responsive-title {
      font-size: 5vw; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .responsive-title {
      font-size: 6vw; /* Further adjust for very small screens */
    }
}

.KG .block {
    width: 100%;
    height: 100%;
    background-image: url(../../public/Football_SVG.svg);
    position:relative;
    animation: mainBlock 1.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.KG h1 {
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;

    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
    z-index: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.KG .box .role .block {
    width: 0%;
    height: inherit;
    background: #415a77;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.KG .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato";
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 10px;
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
